---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
const dateOptions: object = {
    timeZone: "UTC"
  };
---

<Layout pageTitle={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <p>Written by {frontmatter.author}</p>
    <p>Published on: {frontmatter.pubDate.toLocaleDateString("en-US", dateOptions)}</p>

    <slot />
    <div class="tags" data-testid="tags">
      {frontmatter.tags.map((tag: string) => (
          <p class="tag" data-testid=`tag-${tag}`><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
</Layout>

<style>
    a {
      color: #00539F;
    }

    p {
      margin: 0;
      padding-top:0;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 1.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
</style>